/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.card, .btn, .form-control {
    transition: opacity 0.2s, transform 0.2s;
}

.card:hover, .btn:hover, .form-control:hover, .card:focus, .btn:focus, .form-control:focus {
    transform: translateY(-1px);
    box-shadow: 0 1px 1px black;
}

.text-feedback {
    font-size: 14px;
    animation-name: text-fade-in;
    animation-duration: 0.3s;
}

#search-input{
    border-width: 2px;
    text-align: center;
}

.team-search {
    width: clamp(400px, 50vw, 1000px);
}

.leave-button {
    z-index: 10;
}