{% extends "layout.html" %}


{% block title %}

    Account

{% endblock %}


{% block scripts %}

   <script src="/static/account_validation.js"></script>

{% endblock %}


{% block main %}

    <form id="account-form">
        <p>Input the fields you would like to change, enter current password to confirm changes and click submit.</p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Change username" type="text">
        </div>
        <p id="username-feedback" class="mt-2 username-feedback"></p>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="Change password" type="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\S{8,}" minlength="8" maxlength="20" 
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
        </div>
        <p id="password-feedback" class="mt-2 password-feedback"></p>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm new password" type="password">
        </div>
        <p id="confirmation-feedback" class="mt-2 confirmation-feedback"></p>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="current_password" placeholder="Enter current password" type="password" required>
        </div>
        <button id="account-submit" class="btn btn-primary" type="button" disabled>Update Account</button>
    </form>


    <div class="modal fade" id="error-modal" tabindex="-1" aria-labelledby="error-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger" id="error-modal-label">Error</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><i class="errors"></i></p>
                </div>
                <div class="modal-footer justify-content-center">
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
