{% extends "layout.html" %}


{% block title %}

    Explore

{% endblock %}

{% block scripts %}

    <script src="/static/pagination.js"></script>
    <script src="/static/explore_validation.js"></script>

{% endblock %}

{% block main %}

    <h1 class="text-center">Explore Teams</h1>
    <p class="text-center pb-5">Join a team to start collaborating!</p>
    
    <form>
        <input type="text" autocomplete="off" class="form-control mb-4 team-search" id="search-input" name="search" placeholder="Search Teams...">
    </form>

    {% if teams %}
        {% for team in teams %}
        <div class="card text-center mb-3">
            <div class="card-body">
                <h2 class="card-title">{{ team.name }}</h2>
                {% if team.description %}
                    <p class="card-text"><i>{{ team.description }}</i></p>
                {% else %}
                    <p class="card-text"><i>No description provided.</i></p>
                {% endif %}
                <p class="card-text">Member count: {{ team.member_count }}</p>
                <p class="card-text">Status: {{ team.access_type.capitalize() }}</p>
                <p class="card-text">Team Code: {{ team.code }}</p>

                <div class="container">
                    <form>
                        <button type="submit" class="btn btn-primary join-button" data-team-id="{{ team.id }}">Join team!</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="text-center mt-5"><i>Nothing to show here...</i></p>
    {% endif %}

    <ul class="pagination justify-content-center" hidden>
        <li class="page-item"><button class="page-link btn btn-secondary me-1" id="prev-btn">Previous</button></li>
        <li class="page-item"><span class="page-link" id="page-info"></span></li>
        <li class="page-item"><button class="page-link btn btn-secondary ms-1" id="next-btn">Next</button></li>
    </ul>

{% endblock %}