{% extends "layout.html" %}


{% block title %}

    Explore

{% endblock %}

{% block main %}

        <h1 class="text-center">Explore Teams</h1>
        <p class="text-center pb-5">Join a team to start collaborating!</p>
        
        {% if teams %}
            {% for team in teams %}
            <div class="card text-center mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ team.name }}</h2>
                    {% if team.description %}
                        <p class="card-text">{{ team.description }}</p>
                    {% else %}
                        <p class="card-text"><i>No description provided.</i></p>
                    {% endif %}
                    <p class="card-text"> {{ team.member_count }} members</p>
                    <div class="container">
                        <form action="/explore" method="post">
                            <input type="number" name="team_id" value="{{ team.id }}" hidden>
                            <button type="submit" class="btn btn-primary">Join team!</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center mt-5"><i>Nothing to show here...</i></p>
        {% endif %}

{% endblock %}