{% extends "layout.html" %}


{% block title %}

    Log In

{% endblock %}

{% block scripts %}

   <script src="/static/login_validation.js"></script>

{% endblock %}

{% block main %}

    <form id="login-form">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            <input type="hidden" name="next_url" value="{{ request_path }}">
        </div>
        <button id="login-submit" class="btn btn-primary" type="button" disabled>Log In</button>
    </form>

    <div class="modal fade" id="error-modal" tabindex="-1" aria-labelledby="error-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger" id="error-modal-label">Error</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><i class="errors"></i></p>
                </div>
                <div class="modal-footer justify-content-center">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
